html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url(../image/DMC-5-final-borthers-4K-Wallpaper.jpg);
    background-size: 200vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content{
    text-align: center;
}
.content > h1, p{
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px white;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
